.whiteboard_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.whiteboard {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}

// .text_layer {
//   position: absolute;
//   inset: 0;
//   pointer-events: auto;
//   z-index: 2;
// }
