.action_bar {
  width: fit-content;
  height: 5.6rem;
  padding: 0.4rem;
  border-radius: 2rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.05);
  background: url("/images/actions-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.6rem;
  z-index: 0;
}

.inner_wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.6rem;
  padding: 0.1rem;
  background: linear-gradient(
    to bottom,
    rgba(78, 158, 255, 0.05) 0%,
    rgba(78, 158, 255, 0.2) 39%,
    rgba(78, 158, 255, 0.05) 69%,
    rgba(78, 158, 255, 0.5) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

.divider {
  width: 0.1rem;
  height: 100%;
  border-right: 0.1rem solid rgba(34, 106, 205, 0.2);
  z-index: 10;
  transition: opacity 0.4s ease-in-out;
}

.show_divider {
  opacity: 1;
}

.hide_divider {
  opacity: 0;
}

.left_side {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 100%;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
}

.right_side {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 0;
  overflow: hidden;
  background-color: rgba(34, 106, 205, 0.05);
  transform: translateX(2rem);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.show_right {
  width: 9.6rem;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.hide_right {
  width: 0;
  padding: 0;
  transform: translateX(2rem);
  opacity: 0;
  pointer-events: none;
}

.icon_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: rgba(34, 106, 205, 0.05);
  }

  &:hover .icons_image {
    animation: shake 0.5s ease-in-out both;
  }
}

.active_icon {
  background-color: rgba(34, 106, 205, 0.1);
  box-shadow: 0 0 0 0.1rem rgba(34, 106, 205, 0.15) inset;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0.05rem);
  }
  60% {
    transform: translateY(-0.05rem);
  }
  100% {
    transform: translateY(0);
  }
}
