// Colors
$bg-main: #ffffff;
$bg-dot: #11315d;

$text-main: #ffffff;

// Fonts
$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Sizes
$container-max-width: 144rem;
$transition-fast: 0.2s;
$transition-base: 0.3s ease-in;
$transition-slow: 0.4s ease-in-out;

:root {
  // Backgrounds
  --bg-main: #{$bg-main};
  --bg-dot: #{$bg-dot};

  // Texts
  --text-main: #{$text-main};

  // Fonts
  --font-default: #{$default-font};
  --transition-fast: #{$transition-fast};
  --transition-base: #{$transition-base};
  --transition-slow: #{$transition-slow};
}
