.button {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: rgba(138, 143, 150, 0.9);
  }
}
