.text_block {
  position: relative;
  width: fit-content;
  min-width: 50rem;
  height: fit-content;
  min-height: 10rem;
//   background: white;
  border: 0.1rem dashed rgba(17, 49, 93, 0.1);
  border-radius: 1.6rem;
  pointer-events: auto;
  user-select: text;
}

.toolbar {
  position: absolute;
  top: -4.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
  height: 4rem;
  z-index: 9999;
  pointer-events: auto;
}

.mini_panel {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: fit-content;
  height: 100%;
  background-color: rgba(16, 26, 41, 0.7);
  backdrop-filter: blur(10rem);
  border-radius: 1.2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0.4rem 1rem rgba(16, 26, 41, 0.15);
}

.text_color_panel {
  padding: 0.3rem 1.2rem 0.3rem 0.4rem;
}

.text_decoration_panel {
  padding: 0.3rem 0.8rem;
}

.text_alignment_panel {
  padding: 0.3rem 0.8rem;
}

/*Size Color Text*/
.font_size_input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 9.6rem;
  height: 100%;
  padding: 0.6rem 0.6rem 0.6rem 0.8rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  p {
    white-space: nowrap;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
}

.choose_size_dropdown {
  position: absolute;
  top: 4.2rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.8rem;
  border-radius: 1.6rem;
  min-width: 21.9rem;
  height: fit-content;
}

.arrow_icon {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;

  --rot: 0deg;
  --ty: 0;
  transform: rotate(var(--rot)) translateY(var(--ty));
  transition: transform 0.5s ease;
}

.font_size_input.open:hover .arrow_icon {
  animation: none;
}

.font_size_input.open .arrow_icon {
  --rot: 180deg;
}

.font_size_input:not(.open):hover .arrow_icon {
  animation: shakeVar 0.5s ease-in-out both;
}

.dropdown_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.2rem;
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;

  p {
    white-space: nowrap;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    letter-spacing: -0.02em;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.size_block {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.item_size {
  color: rgba(255, 255, 255, 0.5) !important;
}

.icon_done {
  width: 1.6rem;
  min-width: 1.6rem;
  aspect-ratio: 1/1;
}

/**/
.color_input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0 0.8rem;
  width: fit-content;
  height: 2.4rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  p {
    white-space: nowrap;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1%;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.hidden_color_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/*Decoration Panel*/
.decoration_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/*Align Text*/
.align_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.align_icon,
.icon_cape,
.decor_icon,
.icon_done {
  width: 1.6rem;
  min-width: 1.6rem;
  aspect-ratio: 1/1;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes shakeVar {
  0% {
    --ty: 0;
  }
  40% {
    --ty: 0.1rem;
  }
  60% {
    --ty: -0.1rem;
  }
  100% {
    --ty: 0;
  }
}

.content_editable {
  height: 100%;
  min-height: 4rem;
  background: transparent;
}
