.composer_bar {
  width: 71rem;
  height: 8.5rem;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.composer_image {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 71rem;
  height: 8.5rem;
  z-index: 10;
}
