.dropdown {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background: rgba(16, 26, 41, 0.7);
  backdrop-filter: blur(10rem);
  opacity: 0;
  transform: scale(0.98);
  pointer-events: none;
  transition: opacity 0.35s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 1000;
}

.show_dropdown {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}